extends layout

block content
  h1= time
  h1 Kenya Guzman's RESTful API
  h2 Timestamp Microservice
  p.red Example Usage
  br
  p Put the API's URL followed by the date in natural or unix format
  code kenyaguzmanpmytimestamp.glitch.me/December 15, 2015
  br
  code kenyaguzmanpmytimestamp.glitch.me/1450137600
  p.red Expected Output is JSON
  code {"unix": 1450137600, "natural": December 15, 2015 }